breathe==4.30.0
furo
git+https://github.com/sphinx-contrib/video
ipywidgets
jupyter-sphinx
myst-nb
myst-parser
nbsphinx
pandoc
sphinx==4.0.2
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-proof
sphinx-rtd-theme==0.5.2
sphinx-tabs
sphinx-togglebutton
sphinx_markdown_builder
sphinxemoji
